
.homeContent{
    margin: auto;
    width: 100%;
}
h1{
    margin-top: 50px;
    text-align: center;
}
a{
    color: inherit;
    text-decoration: none;
}

.adventureContent{
    /* min-height: 80px; */
    margin: 50px auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.adventure{
    /* border: 4px solid rgb(38, 35, 35); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    width: 100% ;
    height: 200px;
    border-radius: 5px;
}
.adventure h2{
    width: 80%;
    text-align: center;
    font-size: 24px;
    text-shadow:black 2px 3px;;
}

.aliceAdventure{
    background: url("../../Image/Alice.jpg") no-repeat center center ;
    background-size: cover;
}
.travelBodyAdventure{
    background: url("../../Image/Body_BG.jpg") no-repeat center center ;
    background-size: cover;
}
.isPublishedContent{
    position: relative;
}
.waitingPublished::before{
    content: "";
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    margin: 0;
    position: absolute;
    height: 100% ;
    width: 100% ;
    border-radius: 5px;

}

.waitingPublished::after{
    content:"Prochainement disponible";
    background-color: blue;
    color: white;
    position: absolute;
    top: 10%;
    left: 65%;
    width: 25%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 15px;
}
